@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <br />
    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fsolucoesterceirizadas.com.br%2Fwp-content%2Fuploads%2F2019%2F04%2Flogo-solucoes-branco.png&imgrefurl=https%3A%2F%2Fsolucoesterceirizadas.com.br%2Fseja-nosso-fornecedor%2F&tbnid=g8Uh9AVk9VtTDM&vet=10CHMQMyjjAmoXChMI-Oeq6omq9gIVAAAAAB0AAAAAEAU..i&docid=_J7inC0U3OPu9M&w=793&h=195&q=imagem%20de%20logo%20fornecedor&ved=0CHMQMyjjAmoXChMI-Oeq6omq9gIVAAAAAB0AAAAAEAU">
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
